<%-include('header')%>
<div class="container">
    <div class="row">
        <div class="col p-3">
            <div class="accordion col-sm" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Eleves
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea veniam quam cum, est perferendis quisquam, nesciunt perspiciatis ullam dolor laborum praesentium animi repellendus voluptas tempore blanditiis sunt cupiditate doloribus sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae commodi cumque, exercitationem quas vitae illum consectetur quasi alias fugit ratione, neque corporis numquam id sunt, saepe facilis. Odit, eum repellendus.
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div id='calendar'></div>
        </div>
    </div>
</div>




<%-include('footer')%>